<nav class="navbar navbar-default navbar-fixed-top navbar navbar-inverse padding-left" role="navigation" scroll ng-controller="navCtrl">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header" >

        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand primary">
        <span class="tangerine">{{'TITLE'|translate}}</span> 
        </div> 

      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
      
        <ul class="nav navbar-nav" ng-hide="boolChangeClass"> 
          <li>{{scroll}}</li>

          <li> 
            <a href="#/home" active-link="active"> 
              <span class="fa fa-home fa-lg"></span>
              {{'HOME'|translate}}
              </a> 
          </li>
          <li> 
            <a href="#/products" active-link="active"> 
              <span class="fa fa-gears fa-lg"></span>
              {{'PRODUCTS'|translate}}
            </a> 
          </li>
          <li> 
            <a href="#/team" active-link="active"> 
              <span class="fa fa-users fa-lg"></span>
              {{'TEAM'|translate}}
            </a> 
          </li>
          <li> 
            <a href="#/jobs" active-link="active"> 
              <span class="fa fa-heart-o fa-lg"></span>
              {{'HIRE'|translate}}
            </a> 
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

         <li> 
            <a href="#/aboutus"  active-link="active">
              <span class="fa fa-pencil-square-o fa-lg"></span>
              {{'ABOUT_US'|translate}}
            </a> 
          </li>
          <li class="margin-right">

            <a role="button" href="" ng-click="$parent.setLang('en_US')" ng-show="lang==='zh_CN'">
            <span class="fa fa-language fa-lg" aria-hidden="true"></span>
            {{'BUTTON_LANG_EN'|translate}}</a>
          </li>
          <li class="margin-right">
            <a role="button" href="" ng-click="$parent.setLang('zh_CN')" ng-show="lang==='en_US'">
              <span class="fa fa-language fa-lg" aria-hidden="true"></span>
            {{'BUTTON_LANG_CN'|translate}}</a>
          </li>       
<!--
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> <b class="caret"></b></a>
            <ul class="dropdown-menu">
            <li><a role="button" href="" ng-click="$parent.setLang('en_US')" ng-show="lang==='zh_CN'">{{'BUTTON_LANG_EN'|translate}}</a></li>
              <li><a role="button" href="" ng-click="$parent.setLang('zh_CN')" ng-show="lang==='en_US'">{{'BUTTON_LANG_CN'|translate}}</a></li>
              <li>
                <a role="button" ng-href="" ng-click="toggleDebug()">
                  Debug
                  <span class="glyphicon glyphicon-ok pull-right text-muted" ng-show="debug"></span> 
                </a>
              </li>
            </ul>
          </li>
          -->
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
    
