
<div class="" style="padding:30px;margin-top:20px">
  <h1 class="text-center">{{'COMPANY_NAME'|translate}}</h1>
  <div class="margin-top-20">
	  <p class="ccp-indent" ng-bind-html="'HOME_CONTENT_1'|translate"></p>
	  <p class="ccp-indent">{{'HOME_CONTENT_2'|translate}}</p>
	  <p class="ccp-indent">{{'HOME_CONTENT_3'|translate}}</p>
	  <p class="ccp-indent">{{'HOME_CONTENT_4'|translate}}</p>
	  <p class="ccp-indent">{{'HOME_CONTENT_4'|translate}}</p>
	  <p class="ccp-indent">{{'HOME_CONTENT_4'|translate}}</p>
  </div>
</div>