<h1>Keyboard shortcuts for {{module.name}}</h1>
<!-- search box -->

<table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped margin-top">
			<thead>
			<tr>
				<th colspan="2">
					<div class="search-box position-rel">
						<input type="text" class="form-control" st-search="" placeholder="Keywords"/>
						<span class="glyphicon glyphicon-search text-warning bold"></span>
					</div>
				</th>
			</tr>
			<tr>
				<th st-sort="name" style="width:50%">Name</th>
				<th st-sort="keys"  style="width:50%">Shortcut keys</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="row in displayedCollection">
				<td>{{row.name}}</td>
				<td>
					<span ng-repeat="key in row.keys">
						<span class="shortcut-symbols" ng-bind-html="key|keySymbol|uppercase"></span>
						<span ng-if="!$last">+</span>
					</span>
				</td>
			</tr>
			</tbody>
		</table>

<pre ng-show="debug">{{module | json}}</pre>	