<!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ol class="sidebar-nav">
                <li class="sidebar-brand">
                    <span ng-bind-html="'PRODUCT_LIST'|translate"></span>
                </li>
                <li>
                    <a href="#"><span ng-bind-html="'PRODUCT_01'|translate"></span></a>
                </li>
                <li>
                    <a href="#"><span ng-bind-html="'PRODUCT_02'|translate"></span></a>
                </li>
                <li>
                    <a href="#"><span ng-bind-html="'PRODUCT_03'|translate"></span></a>
                </li>
                <li>
                    <a href="#"><span ng-bind-html="'PRODUCT_04'|translate"></span></a>
                </li>
                <li>
                    <a href="#"><span ng-bind-html="'PRODUCT_05'|translate"></span></a>
                </li>
            </ol>
        </div>
        <!-- /#sidebar-wrapper -->